<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/xml; charset=utf-8" />
  <meta http-equiv="content-language" content="en-ca" />
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <title>{{ title }}</title>
</head>
<body>
  <div id="content">
    <div id="title">{{ title }}</div>
    <p>Oops! Something went wrong. <a href="/">Return to Upload Page</a></p>
    <div id="main">
<div id="error_box">{{ error }}</div>
    </div>
    <div id="copyright">Site design by Andrew Poelstra, 2017</div>
  </div>
</body
</html>
